body{
	background-color: #245065;
	background-position: center;
}
body::after{
  background-image:url("./champions/background.jpg");
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;  
  background-position:center;
  background-size:100%;
}
.nav{
	color:white;
	font-size: 25px;
	background-color: #092633;
	font-family: "verdana";
}
.nav p1{
	font-family: "impact", "charcoal","sans-serif";
	color: white;
	text-decoration: none;
}
.logo{
	padding-left: 50px;
}
.link-one{
	color:white;
	float:right;
	padding-top:10px;
	padding-right: 650px;
	font-size:20px;
}
.link-two{
	color:white;
	float:right;
	padding-right: 55px;
	padding-top: 10px;
	font-size:20px;
}
.link-three{
	color:white;
	float:right;
	padding-top: 10px;
	padding-right: 55px;
	font-size:20px;
}
.link-four{
	color:white;
	float:right;
	padding-top: 10px;
	padding-right: 55px;
	font-size:20px;
}

.homepage{
	height:50px;
	width:50px;
}

.champions{
	text-align:center;
	font-size: 50px;
	color:white;
	padding-top: 30px;
}

.champion-table{
	padding-left: 550px;
	padding-top: 40px;
}

table{
	border-spacing: 20px;
}
